body {

color:rgb(4, 0, 255);
  background: rgb(0, 0, 0) ;
  margin: 0px;
  font-family: "New Amsterdam", sans-serif;
  margin-bottom: 15px;
}

header {

    border-bottom: solid 2px rgb(0, 227, 243);
    padding: 20px;
    font-size: 32px;
    color: rgb(21, 255, 0);
}

.chamada {

     background: rgb(134, 9, 93) ;
     padding-bottom: 80px;
     padding-top: 80px;
     
     display: flex;
     justify-content: center;
     h1{
      font-size: 30px;
     }
     p{
      font-size: 15px;
     }
}

.chamada-texto{
    margin-right: 23%;
}



div {
     margin-right: 180px;
}

img {
    height: 200px;
}

.categoria-videos {
     display: flex;
     overflow-x: auto;
     gap: 10px;
     margin-right: 25px;
}

.categoria {
    background: rgb(50, 0, 54) ;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border-bottom: solid 5px rgb(105,105,105);
    border-top: solid 5px rgb(105,105,105);;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green
}

.categoria h2 {
     color: rgb(148, 12, 141);
}